<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression">

   <!-- <test name="Login tests">
        <classes>
            <class name="vytrack.LoginTests"/>
            <class name="vytrack.NewCalendarEventsTests"/>
        </classes>
    </test>

    <test name="Calendar events tests">
        <classes>
            <class name="vytrack.NewCalendarEventsTests"/>
        </classes>
    </test> -->

    <test name="Vytrack regression tests">
        <parameter name="test" value="regression"></parameter>
        <packages>
            <package name="vytrack"/>
        </packages>

    </test>

</suite>